{% extends 'main_template.html' %}

{% block index %}

{% for book in content %}
    <h1>{{ book.title }}</h1>
    <h5>{{ book.text }}</h5>
    <h5>Rate: {{book.cached_rate }}</h5>
    {% for i in '0123456789'|make_list %}
        <a href="{% url 'add_rate' rate=i book_id=book.id %}">
            {% if book.user_rate >= i %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star "></span>
            {% endif %}
        </a>
    {% endfor %}
    <h5>Date: {{ book.publish_date }}</h5>
    <h5>Authors: {% for author in book.author.all %}
        {{ author.username }}
        {% endfor %}</h5>
    <h5>Genres: {% for author in book.genre.all %}
        {{ author.title }}
        {% endfor %}</h5>
    {% for c in book.comment.all %}
        <h5>Comment: {{ c.text }}</h5>
        <h5>Date: {{ c.date }}</h5>
        <h5>Author: {{ c.user }}</h5>
        <a href="{% url 'add_like2comment' comment_id=c.id %}">
            <h5>Like : {{ c.cached_like }} </h5>
        </a>
    {% endfor %}
    <hr>
    {% endfor %}


{% endblock %}
